:root {
  --nav-color: #2e2f42;
  --link-hover-color: #404bbf;
  --logo-button-color: #4d5ae5;
  --main-white-color: #fff;
  --second-white-color: #f4f4fd;
  --main-grey-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-grey-color);
  background-color: var(--main-white-color);
  margin: 0;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Header */
}
/*Logo*/

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.link-logo {
  color: var(--logo-button-color);
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 15px;
  margin-right: 76px;
}

.link .logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer {
  display: inline-block;
  color: var(--second-white-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Navigaor*/
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}


/* List */

.list {
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.nav-list {
  gap: 40px;
}

.list-link {
  color: var(--nav-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}

.list-link:hover,
.list-link:focus,
.list-link:active {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}

/* Link */
.link {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

/*Adress*/
.adress-main {
  font-style: normal;
  margin-right: 0;
  padding-right: 15px;
}

.adress-list {
  gap: 40px;
}

.adress {
  display: inline-block;
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}

.adress:hover,
.adress:focus,
.adress:active {
  color: var(--link-hover-color);
}

.contacts-tel {
  list-style-type: none;
  margin-left: 40px;
}

.contacts-mail {
  list-style-type: none;
}

/*Index-Main*/
.hero {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--nav-color);
  color: var(--nav-color);
  padding: 188px 0;
}

.container .title {
  color: var(--main-white-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  height: 120px;
  text-align: center;
}

/* Button */
.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--logo-button-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
}

.button-order:hover,
.button-order:focus,
.button-order:active {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

.hero button {
  background: var(--logo-button-color);
  color: var(--main-white-color);
  cursor: pointer;

  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*Text inside*/
h3 {
  color: var(--nav-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-section {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 42px;
}

/* Footer */

.footer-text {
  color: var(--second-white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  padding-left: 16px;
}

.footer {
  background-color: var(--nav-color);
  padding: 100px 0
}

.link-logo {
  display: inline-block;
  margin-bottom: 16px;
}


/* Portfolio */

.portfolio-nav {
padding-top: 96px;
padding-bottom: 120px;
}

/* Buttons links portfolio */
.button-all {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--second-white-color);
  padding: 12px 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* Buttons links portfolio Hover */

.button-all:hover,
.button-all:focus,
.button-all:active {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
}

/* Portfolio 9 blocks */
.subhead-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  margin-bottom: 8px;
}


.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-right: 0;
  margin-left: 0;
}

.features-item {
  width: calc((100% - 48px) / 3);

}

.service {
  border: 1px solid #e7e9fc;
  border-top: none;
  background: var(--main-white-color);
  padding: 32px 16px;
}

.main-blocks {
  padding-bottom: 120px;
}


/* Containers */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
  margin: auto;
}

/* Header position */

.header .container {
  display: flex;
  align-content: space-between;
  padding-bottom: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .nav {
  display: flex;
  margin-right: auto;
}

.link .adress {
  display: flex;
}

/* Section Our Benefits */

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-section {
  padding: 120px 0;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

ul.list.benefits {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-shrink: 0;
  gap: 24px;
}

.subhead {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

/* What We Are Doing */

.offers-section {
  padding-bottom: 120px;

}

ul.list.offers {
  display: flex;
  gap: 24px;
}


.title-offers {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.offers-item {
  width: calc((100% - 48px) / 3);
}

/* Our Team */

ul.list.team {
  display: flex;
  gap: 24px;
}

.text.ocupation {
  text-align: center;
  margin-top: 0;
}

.section-four {
  display: flex;
  background-color: var(--second-white-color);
  height: 612px;
  flex-shrink: 0;
  padding: 120px 0;
}

.team-frame {
  width: calc((100% - 72px) / 4);
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  color: var(--nav-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.title-team {
  color: var(--nav-color);
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.employee {
  padding: 32px 0;
}